@model Project1.WebApp.Models.OrderViewModel

@{
    ViewData["Title"] = "PlaceOrder";
}

<h1>Place Order</h1>
<h4>Choose Your Store Location</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PlaceOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="dropdown">
                    <input type='hidden' asp-for="CustomerId" value='@Model.CustomerId' />
                    <label asp-for="StoreId" class="control-label"></label>
                        <select asp-for="StoreId">
                            @foreach (var s in Model.AllStores)
                            {
                                <option value="@s.StoreId">@s.StoreId @s.City</option>
                            }
                        </select>
                    <span asp-validation-for="StoreId" class="text-danger"></span>
                    </div>
                </div>
            
            <div class="form-group">
                    <input asp-action="PlaceOrder2" type="submit" value="See Inventory" class="btn btn-primary" />
            </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

