@model IEnumerable<Project1.WebApp.BusinessLogic.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Clothes Encounters!</h1>
    <p>Are you a new customer? <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
