@model IEnumerable<Project1.BusinessLogic.Product>

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Clothes Encounters!</h1>
        <p>Let's start shopping :)</p>
        <iframe src="https://giphy.com/embed/3o7WTt5a2wcvepQeVa" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/animation-loop-2d-3o7WTt5a2wcvepQeVa">via GIPHY</a></p>
    </div>
